<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.prx.android.playerhater"
    android:versionCode="1"
    android:versionName="0.0.1" > 
    <uses-sdk android:minSdkVersion="8" />
    <application>
        <service android:name=".PlayerHaterService"></service>
    </application>
</manifest>