<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.prx.android.playerhater"
    android:versionCode="2"
    android:versionName="2.0.0" >
    
    <uses-sdk android:minSdkVersion="4" />

    <application>
        <service android:name=".PlaybackService" >
        </service>

        <receiver android:name="org.prx.android.playerhater.remotecontrol.BroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
