<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrisrhoden.glisten"
    android:versionCode="304"
    android:versionName="0.3.7">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <receiver android:name="com.chrisrhoden.glisten.BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <service android:name="com.chrisrhoden.glisten.PlaybackService" />
    </application>

</manifest>
